.note {
    border: 1px solid rgba(54, 54, 54, 0.247);
    position: relative;
    min-height: 200px;
    .edit-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
    .trash-icon{
        position: absolute;
        top: 5px;
        right: 34px;
        cursor: pointer;
    }
}

.bg-normal {
    background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#70afd1 100%);
    color: white;
    text-shadow: 2px 2px 8px rgb(61, 61, 61);
}

.bg-green {
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-shadow: 2px 2px 8px rgb(61, 61, 61);
}

.bg-orange {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-shadow: 2px 2px 8px rgb(61, 61, 61);
}

.bg-yellow {
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    text-shadow: 2px 2px 8px rgb(61, 61, 61);
}

